# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv
env
venv

# Local & dev artifacts
temp/
runtime_cache/
tests/
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
