# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.env

# OS
.DS_Store
Thumbs.db

# Audio / temp
tmp/
uploads/

# ML models & binaries (VERY IMPORTANT)
softwaremodels/
ml_model/model/*.pkl
ml_model/data/*.xlsx

# Logs
*.log
